header {
    background-color: rgb(77, 124, 255);
}

#Titolo {
    height: 30px;
}

.blu{ 
    color:aqua
} 

.Yellow{
    background-color: yellow;
}

.Intestazione {
    background-color: rgb(29, 202, 214);
    
    
}
th{
    color: aliceblue;
}
.Azzurrino {
    background-color: aqua
}
.testo piccolo {
    height: 10px;
}